.sidebar{
    display:flex;
    flex-direction:column;
    height:100%;
}

.sidebar-logo{
    padding-bottom:16px;
    margin-bottom:16px;
    border-bottom:1px solid #EEF2F7;
}

.sidebar-logo h2{
    font-size:30px;
    font-weight:700;
    color:#111827;
     line-height:1.15;
}

.sidebar-logo span{
    color:#14B8A6;
}

.sidebar-title{
    color:#94A3B8;
    font-size:12px;
    letter-spacing:2px;
    font-weight:700;
     margin:12px 0 10px;
    text-transform:uppercase;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.sidebar-link{
    display:flex;
    align-items:center;
    gap:16px;
    text-decoration:none;
    color:#374151;
    padding:15px 18px;
    border-radius:16px;
    transition:.35s;
    position:relative;
    font-weight:500;
}

.sidebar-link svg{
    font-size:21px;
    transition:.3s;
}

.sidebar-link:hover{
    background:#F0FDFA;
    color:#14B8A6;
    transform:translateX(5px);
}

.sidebar-link:hover svg{
    transform:scale(1.15);
}

.sidebar-link.active{
    background:linear-gradient(135deg,#14B8A6,#0F9D9A);
    color:white;
    font-weight:600;
    box-shadow:0 10px 20px rgba(20,184,166,.25);
}

.sidebar-link.active::before{
    content:"";
    position:absolute;
    left:-12px;
    width:5px;
    height:60%;
    border-radius:10px;
    background:#14B8A6;
}

.offer-card{
    margin-top:auto;
    background:linear-gradient(135deg,#14B8A6,#0F9D9A);
    border-radius:22px;
    padding:24px;
    color:white;
    text-align:center;
    box-shadow:0 15px 30px rgba(20,184,166,.30);
}

.offer-card svg{
    margin-bottom:12px;
}

.offer-card h4{
    margin-bottom:10px;
    font-size:20px;
}

.offer-card p{
    font-size:14px;
    line-height:1.5;
    opacity:.95;
}

.offer-card button{
    margin-top:18px;
    width:100%;
    border:none;
    padding:12px;
    border-radius:14px;
    background:white;
    color:#14B8A6;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.offer-card button:hover{
    transform:translateY(-2px);
}

.logout-btn{
    margin-top:22px;
    border:none;
    padding:14px;
    border-radius:16px;
    background:#FEF2F2;
    color:#DC2626;
    font-weight:600;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:.3s;
}

.logout-btn:hover{
    background:#DC2626;
    color:white;
}
.sidebar-logo small{
    display:block;
    margin-top:4px;
    color:#6B7280;
    font-size:13px;
}