.dashboard-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboard-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  align-items: start;
}

.dashboard-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dashboard-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.dashboard-bottom {
  width: 100%;
}

@media (max-width:1100px){

.dashboard-top{
grid-template-columns:1fr;
}

}